<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <header class="site-header">
        <h1>Update Article</h1>
    </header>


    <main class="container">
        <form action="/admin/edit-article/<%= article.id %>" method="POST" class="form-card">
            <label for="title">Title</label>
            <input type="text" id="title" name="title"  required>

            <label for="content">Content</label>
            <input type="text" id="content" name="content" required>

            <button type="submit" class="btn">Update Article</button>

            <p><a href="/admin/dashboard">Cancel</a></p>
        </form>

    </main>
</body>
</html>